{% extends "base.html" %}

{% load static %}

{% block content %}






<h1>Корзина покупок</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Изображение</th>
            <th>Игра</th>
            <th>Обновить кол-вор</th>
            <th>Удалить</th>
            <th>Кол-во</th>
            <th>Цена</th>
            <th>Общая стоимость</th>
        </tr>
    </thead>
    <tbody>
        {%for item in cart %}
            {% with game=item.game %}
                <tr>
                    <td>
                        <a href="{{ game.get_absolute_url}}">
                            <img src="{% if game.image %}{{game.image.url}}{% else %}{%static 'img/mo_image.png'%}{% endif%}">
                        </a>
                    </td>
                    <td>{{ game.name }} </td>
                    <td>
                        <form action="{% url 'cart:cart_add' game.id %}" method="post">
                            {{ item.update_quantity_form.quantity}} 
                            {{ item.update_quantity_form.update}}
                            <input tepy ="submit" value="Обновнить">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td><a href="{% url 'cart:cart_remove' game.id %}">Удалить</a></td>
                    <td>
                        {{ item.quantity }}
                    </td>
                    <td class="num"> ${{ item.price }}</td>
                    <td class="num"> ${{ item.total_price }}</td>
                </tr>
                {% endwith %}
            {% endfor %}
            <tr class = "total">
                <td>Всего</td>
                 <td colspan="4"></td>
                 <td class "num">${{ cart.get_total_price}}</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'gamewarrior:index' %}" class="button light">В магазин</a>
    <a href="#" class="button">Оформить заказ</a>
    </p>   







{% endblock %}
