{% extends "base.html" %}

{% load static %}

{% block content %}
	


	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="img/page-top-bg/1.jpg">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white">
						<h2>Ваш профиль</h2>
						<p>Ваша почта</p>
						
						<div class="user-panel">
							<a href="index.html" target="_blank">На главную</a>
						</div>
						<div class="user-panel">
							<a href="index.html" target="_blank">Мои покупки</a>
						</div>
 
						<div class="user-panel">
							<a href="index.html" target="_blank">История</a>
						</div>
 
 
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->




	{% endblock %}