{% extends "base.html" %}
{% load static %}

{% block content %}
	






	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="img/page-top-bg/4.jpg">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white">
						<h2>Наше сообщество</h2>
						<p>Общайтесь на разные темы и помогайте друг другу, будем улучшать игровое сообщество Game Warrior</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->


	<!-- Page section -->
	<section class="page-section community-page set-bg" data-setbg="img/community-bg.jpg">
		<div class="community-warp spad">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h3 class="community-top-title">Всего сообщений (7)</h3>
					</div>
					<div class="col-md-6 text-lg-right">
						<form class="community-filter">
							<label for="fdf5">Показать за</label>
							<select id="fdf5">
								<option value="#">Всё время</option>
								<option value="#">Неделю</option>
							</select>
						</form>
					</div>
				</div>
				<ul class="community-post-list">
					<li>
						<div class="community-post">
							<div class="author-avator set-bg" data-setbg="img/authors/1.jpg"></div>
							<div class="post-content">
								<h5>Copper717<span>добавил пост</span></h5>
								<div class="post-date">Июнь 21, 2024</div>
								<p>Творческий директор Arrowhead Game Studios Йохан Пайлстедт (Johan Pilestedt) посетил конференцию Nordic Game 2024. В своём выступлении специалист поведал о нелёгком пути к запуску  Helldivers 2.
									Производство игры заняло 7 лет, 11 месяцев и 26 дней. Как признался Пайлстедт, изначально авторы собирались уложиться в три года. </p>
							</div>
						</div>
					</li>
					<li>
						<div class="community-post">
							<div class="author-avator set-bg" data-setbg="img/authors/8.jpg"></div>
							<div class="post-content">
								<h5>Casper<span>добавил пост</span></h5>
								<div class="post-date">Июнь 21, 2024</div>
								<p>Дополнение, которое превзошло все ожидания. Меланхоличная и по-настоящему взрослая история в духе Найт-Сити в очень насыщенной на детали части города. Релиз, который по сути своей ценнее многих других игр последних лет. Во время прохождения и после финала сюжет оставляет большое пространство для рефлексии.

									Отдельного упоминания заслуживают как постановка катсцен и диалоги, так и сюжетные ветки из заказов фиксера, которые имеют довольно глубокую предысторию и предоставляют игроку сложные моральные выборы. Если проходить дополнение осмысленно, замечая сюжетные детали, вы получите наибольшее удовольствие и эмоциональный отклик от игры.
									
									P. S. Благими намерениями вымощена дорога в ад </p>
								<div class="attachment-file">
									<img src="img/review/CP_phantomliberty.jpg" alt="">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="community-post">
							<div class="author-avator set-bg" data-setbg="img/authors/5.jpg"></div>
							<div class="post-content">
								<h5>qxcAtsu_<span>добавил пост</span></h5>
								<div class="post-date">Июнь 20, 2024</div>
								<p>Все уже потестили сфа в новом патче? имба же </p>
								<div class="attachment-file">
									<img src="img/review/sf.jpg" alt="">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="community-post">
							<div class="author-avator set-bg" data-setbg="img/authors/1.jpg"></div>
							<div class="post-content">
								<h5>Copper717<span>добавил пост</span></h5>
								<div class="post-date">Июнь 19, 2018</div>
								<p>Helldivers 2 доступна на ПК (Steam) и PlayStation 5. Кто со мной сыграет? </p>
							</div>
						</div>
					</li>
					<li>
						<div class="community-post">
							<div class="author-avator set-bg" data-setbg="img/authors/4.jpg"></div>
							<div class="post-content">
								<h5>AEGIS<span>добавил пост</span></h5>
								<div class="post-date">Июнь 19, 2018</div>
								<p>Новое обновление GTA Online посвящено угону автомобилей 
									В GTA Online вышло обновление Chop Shop, которое открывает новый незаконный бизнес для предприимчивых преступников. Юсуф Амир, которого вы можете помнить по расширению Grand Theft Auto 4 The Ballad of Gay Tony, теперь в Сан-Андреасе. Он помогает игрокам открыть новый склад запчастей, который одновременно является и незаконной мастерской. Юсуф и его двоюродный брат поручают игрокам угонять различные дорогие автомобили, которые можно продать целиком или разобрать на ценный металлолом.
									Пошлите грабить!</p>
							</div>
						</div>
					</li>
					<li>
						<div class="community-post">
							<div class="author-avator set-bg" data-setbg="img/authors/6.jpg"></div>
							<div class="post-content">
								<h5>私は神Mi<span>добавил пост</span></h5>
								<div class="post-date">Июнь 18, 2024</div>
								<p>Я знаю, что игра старая, но как вам gow 2018? Мне было сложно проходить на платину. </p>
								<div class="attachment-file">
									<img src="img/review/gow-gameplay.jpg" alt="">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="community-post">
							<div class="author-avator set-bg" data-setbg="img/authors/7.jpg"></div>
							<div class="post-content">
								<h5>piyukiᄷ<span>добавил пост</span></h5>
								<div class="post-date">Июнь 17, 2024</div>
								<p>Animal Well: одна из лучших метроидваний.  </p>
								<div class="attachment-file">
									<img src="img/review/animallwell.jpg" alt="">
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="site-pagination sp-style-2">
					<span class="active">01.</span>
					<a href="#">02.</a>
					<a href="#">03.</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Page section end -->


	

{% endblock %}