{% extends "base.html" %}
	
{% block content %}
	
{% load static %}







	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" style="background-image: url('{% static 'gamewarrior/img/mirana.jpg' %}');">
				<div class="hs-text">
					<div class="container">
						<h2>Предстоящий турнир от <span> Game Warrior</span> по DOTA 2</h2>
						<p>Лучшие команды, призовые, онлайн трансляция 25 июня 16:00</p>
						<p>1-e - 1.000.000р, 2-e 500.000р, 3-е - 250.000р.</p>
						<a href="tournament.html" target="_blank" class="site-btn">Смотреть</a>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" style="background-image: url('{% static 'gamewarrior/img/asettocorsa.jpeg' %}');">
				<div class="hs-text">
					<div class="container">
						<h2> <span>Почувствуй скорость в</span> реалистичных гонках Asetto Corsa</h2>
						<a href="#" class="site-btn">Дальше</a>
					</div>
				</div>
			</div>
		    <div class="hs-item set-bg" style="background-image: url('{% static 'gamewarrior/img/eldenring.jpeg' %}');">
				<div class="hs-text">
					<div class="container">
						<h2>Рискни сразиться с опасным миром <span>ELDEN RING</span></h2>
						<a href="tournament.html" target="_blank" class="site-btn">Дальше</a>
					</div>
				</div>
			</div>
             <div class="hs-item set-bg" style="background-image: url('{% static 'gamewarrior/img/theevilwithin.jpg' %}');">
				<div class="hs-text">
					<div class="container">
						<h2><span>Не боишься?</span></h2>
						<a href="tournament.html" target="_blank" class="site-btn">Дальше</a>
					</div>
				</div>
			</div>
            <div class="hs-item set-bg" style="background-image: url('{% static 'gamewarrior/img/readyornot.jpg' %}');">
				<div class="hs-text">
					<div class="container">
						<h2>Почувствуй себя в роли<span> настоящего спецназа</span> в Ready or Not</h2>
						<a href="tournament.html" target="_blank" class="site-btn">Дальше</a>
					</div>
				</div>
			</div>
            <div class="hs-item set-bg" style="background-image: url('{% static 'gamewarrior/img/projectzomboid.png' %}');">
				<div class="hs-text">
					<div class="container">
						<h2>История твоей смерти...<span> Project Zomboid</span></h2>
						<a href="tournament.html" target="_blank" class="site-btn">Дальше</a>
					</div>
				</div>
			</div>
            <div class="hs-item set-bg" style="background-image: url('{% static 'gamewarrior/img/godofwar.jpg' %}');">
				<div class="hs-text">
					<div class="container">
						<h2>Путешествие Кратоса и сына Атрея<span></span></h2>
						<a href="tournament.html" target="_blank" class="site-btn">Дальше</a>
					</div>
				</div>
			</div>
        </div>
	</section>
	<!-- Hero section end -->




	<!-- Feature section -->
	<section class="feature-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 p-0">
					<div class="feature-item set-bg" style="background-image: url('https://wargm.ru/img/db/iv/iv4nrfj0lcd.jpg');">
						<span class="cata new">Хоррор</span>
						<div class="fi-content text-white">
							<h5><a href="/card/phasmophobia">Phasmophobia</a></h5>
							<p>Phasmophobia - это совместный психологический хоррор для 4 игроков. </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 p-0">
					<div class="feature-item set-bg" style="background-image: url('https://i.playground.ru/p/jscclyGZJizy4ZsHJ6_mFQ.png');">
						<span class="cata strategy">Выживание</span>
						<div class="fi-content text-white">
							<h5><a href="/card/project_zomboid">Project Zomboid</a></h5>
							<p>Project Zomboid - это лучший способ выжить в зомби. В одиночку или в команде: вы будете грабить, строить, крафтить, сражаться, заниматься сельским хозяйством и ловить рыбу в борьбе за выживание.  </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 p-0">
					<div class="feature-item set-bg" style="background-image: url('https://cdn.iz.ru/sites/default/files/styles/1065xh/public/photo_item-2023-03/ss_fab3d39d4fdcab63df04a5e7bb69b5c0f81a0896.jpeg.jpg?itok=vd93lhNI');">
						<span class="cata new">Выживание</span>
						<div class="fi-content text-white">
							<h5><a href="/card/7_days_to_die">7 Days to Die</a></h5>
							<p>7 Days to Die — это единственная в своем роде игра с открытым миром, сочетающая в себе элементы шутера от первого лица, хоррора на выживание, защиты замка и ролевой игры. </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 p-0">
					<div class="feature-item set-bg" style="background-image: url('https://cs13.pikabu.ru/avatars/3101/x3101968-619837122.png');">
						<span class="cata racing">RPG</span>
						<div class="fi-content text-white">
							<h5><a href="/card/gta_v">Grand theft Auto V</a></h5>
							<p>Игра в жанре action-adventure с открытым миром, разработанная компанией Rockstar North и изданная компанией Rockstar Games. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Feature section end -->


	<!-- Recent game section  -->
	<section class="recent-game-section spad set-bg" style="background-image: url('{% static 'gamewarrior/img/recent-game-bg.png' %}');">
		<div class="container">
			<div class="section-title">
				<div class="cata new">новое</div>
				<h2>Рекомендуемое пользователям</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="recent-game-item">
						<div class="rgi-thumb set-bg" style="background-image: url('{% static 'gamewarrior/img/recent-game/9.jpg' %}');">
							<div class="cata new">Экшен</div>
						</div>
						<div class="rgi-content">
							<h5>Risk of Rain 2</h5>
							<p>Выберитесь с хаотичной неизвестной планеты, отбиваясь от полчищ безумных монстров в одиночку или с друзьями. Самостоятельно станьте разрушительной силой на одну легендарную жизнь. </p>
							<div class="rgi-extra">
							</div>
						</div>
					</div>	
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="recent-game-item">
						<div class="rgi-thumb set-bg" style="background-image: url('{% static 'gamewarrior/img/recent-game/2.jpg' %}');">
							<div class="cata racing">Экшен Шутер</div>
						</div>
						<div class="rgi-content">
							<h5>DOOM (2016)</h5>
							<p>Включает все 3 дополнения (Unto the Evil, Hell Followed и Bloodfall), карты, режимы и оружие, а также все нововведения, включая аркадный режим, и последнее обновление 6.66, затрагивающее сетевую игру.</p>
							<div class="rgi-extra">
							</div>
						</div>
					</div>	
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="recent-game-item">
						<div class="rgi-thumb set-bg" style="background-image: url('{% static 'gamewarrior/img/recent-game/10.jpg' %}');">
							<div class="cata adventure">Приключение</div>
						</div>
						<div class="rgi-content">
							<h5>God of War</h5>
							<p>Отомстив богам Олимпа, Кратос живет в царстве скандинавских божеств и чудовищ. В этом суровом беспощадном мире он должен не только самостоятельно бороться за выживание... но и научить этому сына.</p>
							<div class="rgi-extra">
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>
	<!-- Recent game section end -->




	<!-- Review section -->
	<section class="review-section spad set-bg" style="background-image: url('{% static 'gamewarrior/img/review-bg.png' %}');">
		<div class="container">
			<div class="section-title">
				<div class="cata new">новое</div>
				<h2>Лучшие игры</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="review-item">
						<div class="review-cover set-bg" style="background-image: url('{% static 'gamewarrior/img/review/1.jpg' %}');">
							<div class="score yellow">9.3</div>
						</div>
						<div class="review-text">
							<h5>Assasin’’s Creed Origins</h5>
							<p>ASSASSIN’S CREED® ИСТОКИ - НОВОЕ НАЧАЛО *Интерактивный тур "Assassin's Creed®: Древний Египет" доступен в новом обновлении!* Раскройте тайны Древнего Египта и узнайте, как было создано Братство ассасинов.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="review-item">
						<div class="review-cover set-bg" style="background-image: url('{% static 'gamewarrior/img/review/2.jpg' %}');">
							<div class="score purple">9.5</div>
						</div>
						<div class="review-text">
							<h5>DOOM 2016</h5>
							<p>Компьютерная игра в жанре экшен шутера от первого лица. Большая жестокость, сложность и АД.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="review-item">
						<div class="review-cover set-bg" style="background-image: url('{% static 'gamewarrior/img/review/122.jpg' %}');">
							<div class="score green">9.1</div>
						</div>
						<div class="review-text">
							<h5>The Witcher 3: Wild Hunt</h5>
							<p>Вы — Геральт из Ривии, наемный убийца чудовищ. Вы путешествуете по миру, в котором бушует война и на каждом шагу подстерегают чудовища.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="review-item">
						<div class="review-cover set-bg" style="background-image: url('{% static 'gamewarrior/img/review/4.jpg' %}');">
							<div class="score pink">9.7</div>
						</div>
						<div class="review-text">
							<h5>Grand theft Auto V</h5>
							<p>Игра в жанре action-adventure с открытым миром, разработанная компанией Rockstar North и изданная компанией Rockstar Games.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Review section end -->


	{% endblock %}