{% extends "base.html" %}

{% block content %}
    {% load static %}

    <style>
        /* CSS для ровных блоков игр */
        .game-item {
            border: 1px solid #ccc; /* Тонкая обводка */
            margin-bottom: 20px; /* Пространство между блоками */
            padding: 15px; /* Внутренний отступ */
            border-radius: 5px; /* Закругленные углы */
        }

        .game-description {
            height: 120px; /* Высота описания */
            overflow: hidden;
            text-overflow: ellipsis; /* Для эффекта многоточия, если текст обрезается */
        }
    </style>

    </head>
    <body>
        <!-- Page info section -->
        <section class="page-info-section set-bg" style="background-image: url('{% static 'gamewarrior/img/page-top-bg/3.jpg' %}');">
            <div class="pi-content">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 text-white">
                            <h2>Игры</h2>
                            <p>Самые лучший игры по самым лучшим</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page info section -->

        <main>
            <section class="primerigr">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            {% for game in games %}
                                {% if forloop.counter|divisibleby:2 %}
                                    <div class="game-item">
                                        <img src="{{ game.imagemain }}" alt="{{ game.name }}">
                                        <h2>{{ game.name }}</h2>
                                        <p>Год выхода: {{ game.year }}</p>
                                        <div class="game-description">
                                            <p>{{ game.description }}</p>
                                        </div>
                                        <div class="container">
                                            <a href="{% url 'gamewarrior:card' game.slug %}" class="site-btn">Подробнее / {{ game.price }} тенге</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            {% for game in games %}
                                {% if not forloop.counter|divisibleby:2 %}
                                    <div class="game-item">
                                        <img src="{{ game.imagemain }}" alt="{{ game.name }}">
                                        <h2>{{ game.name }}</h2>
                                        <p>Год выхода: {{ game.year }}</p>
                                        <div class="game-description">
                                            <p>{{ game.description }}</p>
                                        </div>
                                        <div class="container">
                                            <a href="{% url 'gamewarrior:card' game.slug %}" class="site-btn">Подробнее / {{ game.price }} тенге</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
{% endblock %}
